<header class="page-header">
  <ul class="nav">
    <li class="nav__item">
      <a class="nav__link" routerLink="products" href="#">Products Store</a>
    </li>
  </ul>
<div class="switch">
   <label class="switch__label">User</label>
   <div class="switch__control">
      <input
        (change)="toggle($event)"
         class="switch__toggle"
         type="checkbox"
         [checked]="isAdmin"
         name="theme"
         id="switch-toggle"
       />
       <label
         aria-hidden="true"
         class="switch__track"
         for="switch-toggle"
       >
       </label>
       <div aria-hidden="true" class="switch__marker"></div>
     </div>
     <label class="switch__label">Admin</label>
</div>
</header>
