.product-form {
  &__item.type{
      .item-label{
        display: block;
      }
      .select{
        border-radius: 10px;
        border: 2px solid #2196f3;
        width: 100%;
        padding-left: 10px;
        background-color: #fff;
      }
  }
  &__item {
    margin-bottom: 10px;
    .item-input {
      width: 100%;
      border-radius: 10px;
      border: 2px solid #2196f3;
      padding: 10px;
    }
    .item-label{
      margin-bottom: 5px;
    }
   
  }
  
  .price-btn{
    margin-bottom: 50px;
    border: 2px solid #2196f3;
    color: #2196f3;
    border-radius: 10px;
    padding: 10px 15px;
  }
  &__item.price{
    display: flex;
  }
.cancel-btn{
  color: #2196f3;
  padding: 10px 15px;
}
  
.admin-btn{
  display: flex;
  justify-content: space-between;
}
.btn {
  border-radius: 10px;
  padding: 15px 50px;
    color: #2196f3;
    border: 2px solid #2196f3;
  }
}
.is-invalid {
  border: 2px solid red;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
}
.item-input.price{
  position: relative;
}