.products-list{
    display: flex;
    flex-wrap: wrap;
    
}
.btn-new-product{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 15px 30px;
}