<button class="btn-new-product"
(click)="onNewProduct()"
*ngIf="isAdmin"
>
    New Product
</button>
<input type="checkbox"  [(ngModel)]="filter.phone" (ngModelChange)="filterChange()" /> Phone 
<input type="checkbox" [(ngModel)]="filter.computer" (ngModelChange)="filterChange()" /> Computer 
<input type="checkbox" [(ngModel)]="filter.monitor" (ngModelChange)="filterChange()" /> Monitor
<div class="container">
    <ul class="products-list">
        <app-product-item
        *ngFor="let productItem of products | appFilter:searchKey;let i=index"
        [product]="productItem"
        [index]="i"
        >
        </app-product-item>
    </ul>
</div>

