<li class="product__item"
[routerLink]="index"
>
  <article class="card">
    <img class="card__img" [src]="product.imagePath" [alt]="product.name" />
    <div class="card__content">
        <h2 class="card__name">{{product.name}}</h2>
        <p 
        
        class="card__description">
{{isExpanded ? product.description : sliceString(product.description)}}
        </p>
        <button (click)="changeExpanded($event)">Read more</button>
        <p class="card__type">{{product.type}}</p>
        <ul class="price-list">
            <li  
            class="price-list__item"
            *ngFor="let price of product.prices">
                {{price.value}}
            </li>
        </ul>
    </div>
  </article>
</li>
