<li class="product__item"
[routerLink]="index"
>
  <article class="card">
    <img class="card__img" 
    *ngIf="product.imagePath; else elseBlock"
    [src]="product.imagePath" [alt]="product.name" />
    <ng-template #elseBlock>
      <svg  class="card__svg">
        <use href="../../../../assets/sprite/symbol-defs.svg#icon-camera"></use>
      </svg>
    </ng-template>
    <div class="card__content">
        <h2 class="card__name">{{product.name}}</h2>
        <p 
        
        class="card__description">
{{isExpanded ? product.description : sliceString(product.description)}}
        </p>
        <button class="card__read-more" (click)="changeExpanded($event)">{{isExpanded ? 'Return': 'Read more'}}</button>
      
        <ul class="price-list">
          Price: 
            <li  
            class="price-list__item"
            *ngFor="let price of product.prices">
                {{price.value}}
                <svg class="price-list__svg">
                  <use  href="./../../../../assets/sprite/symbol-defs.svg#icon-euro"></use>
                </svg>
            </li>
        </ul>
    </div>
  </article>
</li>
