<app-modal id="modal_product-item">
  <a class="product__item">
    <article class="card">
      <img class="card__img" [src]="product.imagePath" [alt]="product.name" />
      <div class="card__content">
        <h2 class="card__name">{{ product.name }}</h2>
        <p class="card__description">
          {{ product.description }}
        </p>
        <ul class="price-list">
          Price: 
          <li class="price-list__item" *ngFor="let price of product.prices">
            {{ price.value }}
            <svg class="price-list__svg">
                  <use  href="./../../../../assets/sprite/symbol-defs.svg#icon-euro"></use>
                </svg>
          </li>
        </ul>
        <div class="admin-btn-list"
    *ngIf="isAdmin">
      <button 
      (click)="onEditProduct()"
      class="admin-btn-list__button">Edit</button>
      <button class="admin-btn-list__button"
      (click)="onDialog()"
      >Delete</button>
    </div>
      </div>
      <button  (click)="onCancel()">
        <svg class="card__cancel">
          <use href="../../../assets/sprite/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
    </article>
  </a>
  
</app-modal>
<app-dialog 
(delete)="onDelete($event)"
message="Please click chekbox if you want to remove a product"
*ngIf="dialogService.showDialog">
</app-dialog>